@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--white);
  }

  .content {
    flex: 1;
    width: 100%;
    overflow-x: hidden; 
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

@include sm {
  body {
    position: relative;
    width: 100%;
  }
}