.loadingWrapper{
  justify-content:center;
  align-items:center;
}

.loadingWrapper lottie-player{
  display:block;
}

.global-loading-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.45);
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
}

.global-loading-inner{
  display:flex;
  align-items:center;
  justify-content:center;
}

.loading-in-button{
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
