@import "../../responsive.scss";

.notfound-wrapper{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #111;
color: whitesmoke;
text-align: center;
animation: fadeIn 1.5s ease-in;
}

.float{
    font-size: 100px;
    animation: float 3s infinite ease-in-out;
}

@keyframes float{
    0%, 100%{transform: translateY(-10px);}
    50%{transform: translateY(10px);}
}
 
@keyframes fadeIn {
    from {opacity: 0;transform: scale(0.9);}
    to {opacity: 1;transform: scale(1);}
}