// responsive.scss
@mixin xs {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1367px) {
    @content;
  }
}

// Helper for mobile-first approach
@mixin mobile-first($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}